


.background {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


.square-button {
    width: 150px; /* 按钮的宽度 */
    height: 150px; /* 按钮的高度 */
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255);
    font-size: 16px; /* 按钮文本的字体大小 */
    text-align: center; /* 文本居中 */
    line-height: 150px; /* 文本垂直居中 */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 添加过渡效果 */
}

.square-button:hover {
    background-color: rgba(169, 169, 169);
    color: #ffffff; /* 鼠标悬停时的文本颜色 */
  }