
  
  .starting-page .title {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* 可以根据需要调整垂直居中的高度 */

  }
  
  .starting-page .sub-title {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh; /* 可以根据需要调整垂直居中的高度 */
  }

.background {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.video-background {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000; /* 确保视频位于其他内容的后面 */
    background-size: cover;
  }
.starting-button {
    width: 20rem;
    border-radius: 15px;
    background-color: #00000000; /* Green */
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    margin-top: 400%;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;
}
.starting-button:hover {
    transition-duration: 0.4s;
    background-color: #4CAF50; /* Green */
}
